 body {
   font-family: 'Segoe UI', sans-serif;
   margin: 0;
    background: linear-gradient(to left, #667eea, #764ba2, #6b8dd6);
   color: #333;
 }

 header {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 32vmax;
   padding: 0.2rem;
    background: linear-gradient(to right, #3556e6, #722bba);
   color: white;
 }

 header>a {
   margin-left: 4vmax;
 }

 #logo-img {
  /* background-color: yellow; */
   width: 6vmax;
 }

 header #logo-img:hover {
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.06);
    }
}


 .project-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   gap: 1.5rem;
   padding: 2rem;
 }

 .project-card {
   background: white;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   transition: transform 0.2s ease;
 }

 .project-card:hover {
   transform: scale(1.03);
 }

 .project-image {
   width: 100%;
   height: 180px;
   object-fit: cover;
 }

 .project-content {
   padding: 1rem;
 }

 .project-title {
   font-size: 1.2rem;
   margin: 0.5rem 0;
 }

 .project-card {
   text-decoration: none;
   color: inherit;
 }


 .tech-stack {
   display: flex;
   flex-wrap: wrap;
   gap: 0.4rem;
 }

 .tech-stack span {
   background-color: #e1e5ea;
   padding: 0.3rem 0.6rem;
   border-radius: 5px;
   font-size: 0.8rem;
 }